.p2p-popular-currencies {
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;

    border: 1px solid #707070;
    border-radius: 10px;

    &__title {
        // width: 30%;
    }

    &__currencies {
        // width: 70%;
        
        display: flex;
        align-items: flex-start;
        gap: 5px;

        padding: 15px;
        overflow: scroll;
        scrollbar-width: none;
    }
}
